body{
    background-color: #2b2b2b;
    color: snow;
}

a{
    text-decoration: none;
    color: #8bc152;
}

a:hover{
    color: white;
}

.snow{
    color: snow;
}

.snow:hover{
    color: #8bc152;
}

h1{
    color: #a2b429;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.tp{
    margin: 4px;
}

th{
    /*color: #b5772f;*/
    color: snow;
    min-width: 25px;
}

.center{
    text-align: center;
}

