<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>zakaznici</title>

    <link rel="stylesheet" th:href="@{/style.css}">


</head>
<!--style>
    body{
        background-color: #2b2b2b;
        color: snow;
    }
    a{
        text-decoration: none;
        color: #8bc152;
    }
    h1{
        color: #a2b429;
    }
    th{
        color: #b5772f;
        border: 1px solid snow;
        min-width: 25px;
    }
    td{
        border: 1px solid snow;
        padding: 2px;
        min-width: 25px;
    }
</style-->
<body>
<h1>Zoznam zákazníkov</h1>

<table>
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Id</th>
        <th class="mdl-data-table__cell--non-numeric">Meno</th>
        <th class="mdl-data-table__cell--non-numeric">Priezvisko</th>
        <th class="mdl-data-table__cell--non-numeric">Detaily</th>
        <th class="mdl-data-table__cell--non-numeric">Úpravy</th>
        <th class="mdl-data-table__cell--non-numeric">Zmazanie</th>
        <th class="mdl-data-table__cell--non-numeric">Registrácia vozidla</th>
        <th class="mdl-data-table__cell--non-numeric">Vozidlá zákazníka</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="zakaznik: ${zakaznici}">
        <!--/*@thymesVar id="idenetifikator" type="aj"*/-->
        <td th:text="${zakaznik.idenetifikator}"></td>
        <!--/*@thymesVar id="osobneUdaje" type="sk"*/-->
        <td th:text="${zakaznik.meno}"></td>
        <!--/*@thymesVar id="osobneUdaje" type="sk"*/-->
        <td th:text="${zakaznik.priezvisko}"></td>
        <td><a th:href="@{'/detail/' + ${zakaznik.idenetifikator}}">Zobraziť Detaily</a></td>
        <td><a th:href="@{'/zmenaUdajov/' + ${zakaznik.idenetifikator}}">Upraviť Detaily</a></td>
        <td><a th:href="@{'/zmazanieZakaznika/' + ${zakaznik.idenetifikator}}">Odstrániť zákazníka</a></td>
        <td><a th:href="@{'/noveVozidlo/zakaznik/' + ${zakaznik.idenetifikator}}">Nové vozidlo</a></td>
        <td><a th:href="@{'/zoznamVozidiel/zakaznik/' + ${zakaznik.idenetifikator}}">Zobraziť vozidlá</a></td>
    </tbody>
</table>
<a th:href="@{'/novyZakaznik'}">Pridaj</a><br>
<a th:href="@{'/zoznamVozidiel'}">Zoznam vozidiel</a><br>
</body>
</html>