<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>autoservis</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>


<body>
<h1>Registrácia</h1>
<!--/*@thymesVar id="zakaznik" type="bla"*/-->
<form th:action="@{'/noveVozidlo'}" th:object="${vozidlo}" method="post">

    <label  for="idVozidla">ID vozidla</label>
    <input readonly type="number" id="idVozidla" th:field="*{idVozidla}"/>
    <br>

    <label  for="idMajitela">ID majiteľa</label>
    <input type="number" id="idMajitela" th:field="*{idMajitela}"/>
    <br>

    <label for="manufacturer">Značka</label>
    <input type="text" id="manufacturer" th:field="*{znackaVozidla}"/>
    <br>

    <label for="typVozidla">Model</label>
    <input type="text" id="typVozidla" th:field="*{typVozidla}"/>
    <br>

    <label for="vin">VIN</label>
    <input type="text" id="vin" th:field="*{vinCislo}"/>
    <br>


    <input type="submit" value="Ulož"/>
</form>
</body>
</html>