<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>autoservis</title>
</head>
<style>
    body{
        background-color: #2b2b2b;
        color: snow;
    }
    a{
        text-decoration: none;
        color: #8bc152;
    }
    h1{
        color: #a2b429;
    }
    th{
        color: #b5772f;
    }
</style>

<body>
<h1>Registrácia</h1>
<!--/*@thymesVar id="zakaznik" type="bla"*/-->
<form th:action="@{'/noveVozidlo'}" th:object="${vozidlo}" method="post">

    <label  for="idVozidla">ID</label>
    <input readonly type="number" id="idVozidla" th:field="*{idVozidla}"/>
    <br>

    <label for="manufacturer">Znacka</label>
    <input type="text" id="manufacturer" th:field="*{znackaVozidla}"/>
    <br>

    <label for="typVozidla">Model</label>
    <input type="text" id="typVozidla" th:field="*{typVozidla}"/>
    <br>



    <input type="submit" value="Ulož"/>
</form>
</body>
</html>