<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>autoservis</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">

</head>


<body>
<h1>Registrácia zákazníka</h1>
<!--/*@thymesVar id="zakaznik" type="bla"*/-->
<form th:action="@{'/novyZakaznik'}" th:object="${zakaznik}" method="post">



    <label class="nezobrazeny" for="number">Váš unikátny identifikátor: </label>
    <input class="nezobrazeny" readonly type="number" id="number" th:field="*{idenetifikator}"/>
    <br>

    <div class="container">
    <div id="formular" class="row">
        <div id="osobneUdaje" class="col-lg-6">
            <fieldset>
                <legend>Osobné údaje</legend>
                <p class="row">
                    <label class="col-lg-5" for="name">Meno*</label>
                    <input required  class="col-lg-6"  oninvalid="this.setCustomValidity('Meno nesmie byť prázdne.Zadaj znova')"
                           onchange="this.setCustomValidity('')" type="text" id="name" th:field="*{meno}"/>
                    <td th:if="${#fields.hasErrors('meno')}" th:errors="*{meno}">
                    Name Error</td>

                    <br>
                    <label class="col-lg-5" for="priezvisko">Priezvisko*</label>
                    <input class="col-lg-6" required oninvalid="this.setCustomValidity('Meno nesmie byť prázdne.Zadaj znova')" onchange="this.setCustomValidity('')" type="text" id="priezvisko" th:field="*{priezvisko}"/>
                    <td th:if="${#fields.hasErrors('priezvisko')}" th:errors="*{priezvisko}">
                        Name Error</td>

                    <br>

                    <label class="col-lg-5" for="rc">Rodné číslo:</label>
                    <input class="col-lg-6" type="text" id="rc" th:field="*{rodneCislo}"/>

                    <br>

                    <label class="col-lg-5" for="dn">Dátum narodenia:</label>
                    <input class="col-lg-6" type="date" id="dn" th:field="*{datumNarodenia}"/>
                </p>
            </fieldset>
        </div>
        <div id="Kontakt" class="col-lg-6">
            <fieldset>
                <legend>Kontaktné údaje</legend>
                <p class="row">
                    <label class="col-lg-5" for="email">E-mail:</label>
                    <input class="col-lg-6" type="text" id="email" th:field="*{email}"/>
                    <br>
                    <label class="col-lg-5" for="tc">Telefónne číslo:</label>
                    <input class="col-lg-6" type="text" id="tc" th:field="*{telefonneCislo}"/>
                </p>
            </fieldset>
        </div>
        <div id="adresa" class="col-lg-6">
            <fieldset>
                <legend>Adresné údaje</legend>
                    <p class="row">
                        <label class="col-lg-5"  for="ulica">Ulica:</label>
                        <input class="col-lg-4" type="text" id="ulica" th:field="*{ulica}" th:placeholder="Ilkovičova"/>

                        <!--label class="col-lg-6"  for="cd">Cilso domu:</label-->
                        <input class="col-lg-2" type="text" id="cd" th:field="*{cisloDomu}" th:placeholder="3"/>

                        <label class="col-lg-5" for="obec">Obec:</label>
                        <input class="col-lg-6" type="text" id="obec" th:field="*{obec}" th:placeholder="Bratislava"/>

                        <label class="col-lg-5" for="psc">PSČ:</label>
                        <input class="col-lg-6" type="text" id="psc" th:field="*{psc}" placeholder="841 04"/>
                    </p>
            </fieldset>
        </div>
    </div>
        <input class="btn btn-primary btn-md" type="submit" value="Ulož"/>
    </div>



    <br>


    <br>

    <!--h1>Adresa</h1-->



<div></div>




</form>
</body>
</html>