<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>autoservis</title>
</head>
<style>
    body{
        background-color: #2b2b2b;
        color: snow;
    }
    a{
        text-decoration: none;
        color: #8bc152;
    }
    h1{
        color: #a2b429;
    }
    th{
        color: #b5772f;
    }
</style>

<body>
<h1>Registrácia</h1>
<!--/*@thymesVar id="zakaznik" type="bla"*/-->
<form th:action="@{'/novyZakaznik'}" th:object="${zakaznik}" method="post">



    <label for="number">Váš unikátny identifikátor: </label>
    <input readonly type="number" id="number" th:field="*{idenetifikator}"/>
    <br>

    <label for="name">Meno*</label>

    <input required    oninvalid="this.setCustomValidity('Meno nesmie byť prázdne.Zadaj znova')"
           onchange="this.setCustomValidity('')" type="text" id="name" th:field="*{meno}"/>
    <td th:if="${#fields.hasErrors('meno')}" th:errors="*{meno}">
        Name Error</td>
    <br>
    <label for="priezvisko">Priezvisko*</label>
    <input required oninvalid="this.setCustomValidity('Meno nesmie byť prázdne.Zadaj znova')" onchange="this.setCustomValidity('')" type="text" id="priezvisko" th:field="*{priezvisko}"/>
    <td th:if="${#fields.hasErrors('priezvisko')}" th:errors="*{priezvisko}">
        Name Error</td>
<div></div>



    <input type="submit" value="Ulož"/>
</form>
</body>
</html>