<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>autoservis</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>


<body>
<h1>Registrácia</h1>
<!--/*@thymesVar id="zakaznik" type="bla"*/-->
<form th:action="@{'/novyServisnyZaznam'}" th:object="${servisnyZaznam}" method="post">

    <label  for="idZaznamu">ID záznamu</label>
    <input readonly type="number" id="idZaznamu" th:field="*{idZaznamu}"/>
    <br>

    <label  for="idVozidla2">ID vozidla</label>
    <input type="number" id="idVozidla2" th:field="*{idVozidla}"/>
    <br>

    <label  for="idMajitela2">ID majitela</label>
    <input type="number" id="idMajitela2" th:field="*{idMajitela}"/>
    <br>

    <label  for="nazovZaznamu">Názov</label>
    <input type="text" id="nazovZaznamu" th:field="*{nazovZaznamu}"/>
    <br>

    <label  for="datumServisu">Dátum servisu</label>
    <input type="date" id="datumServisu" th:field="*{datumServisu}"/>
    <br>

    <label  for="stavKM">Stav kilometrov</label>
    <input type="number" id="stavKM" th:field="*{stavKilometrov}"/>
    <br>

    <label  for="poznamky">Poznámky</label>
    <input type="text" id="poznamky" th:field="*{poznamky}"/>
    <br>


    <input type="submit" value="Ulož"/>
</form>
</body>
</html>