<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>autoservis</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<h1>Vaše údaje</h1>
<p th:text="'ID: '+ ${servisnyZaznam.idZaznamu}"></p>
<p th:text="'ID: '+ ${servisnyZaznam.idVozidla}"></p>
<p th:text="'Názov: '+${servisnyZaznam.nazovZaznamu}"></p>
<p th:text="'Dátum: '+${servisnyZaznam.datumServisu}"></p>
<p th:text="'Stav kilometrov: '+${servisnyZaznam.stavKilometrov}"></p>
<p th:text="'Poznámky: '+${servisnyZaznam.poznamky}"></p>
<a th:href="@{'/zoznamVozidiel'}">Návrat na zoznam vozidiel</a></td><br>
</body>
</html>