<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>autoservis</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<h1>Vaše údaje</h1>
<p th:text="'ID: '+ ${vozidlo.idVozidla}"></p>
<p th:text="'Model: '+${vozidlo.idMajitela}"></p>
<p th:text="'Značka: '+${vozidlo.znackaVozidla}"></p>
<p th:text="'Typ: '+${vozidlo.typVozidla}"></p>
<p th:text="'VIN: '+${vozidlo.vinCislo}"></p>
<a th:href="@{'/zoznamVozidiel'}">Návrat na zoznam vozidiel</a></td><br>
</body>
</html>