<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>autoservis</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<h1>Vaše údaje</h1>
<p th:text="'ID: '+ ${diel.idDielu}"></p>
<p th:text="'Názov: '+${diel.nazov}"></p>
<p th:text="'Množstvo: '+${diel.pocet}"></p>
<p th:text="'Výrobca: '+${diel.vyrobca}"></p>
<p th:text="'Číslo produktu: '+${diel.cisloProduktu}"></p>
<p th:text="'Typové číslo: '+${diel.typoveCislo}"></p>
<p th:text="'Kategória: '+${diel.kategoria}"></p>

<a th:href="@{'/zoznamVozidiel'}">Návrat na zoznam vozidiel</a></td><br>
</body>
</html>