<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>autoservis</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<h1>Vaše údaje</h1>
<p th:text="'ID: '+ ${zakaznik.idenetifikator}"></p>
<p th:text="'Meno: '+${zakaznik.meno}"></p>
<p th:text="'Priezvisko: '+${zakaznik.priezvisko}"></p>
<p th:text="'Email: '+${zakaznik.email}"></p>
<p th:text="'Rodné Číslo: '+${zakaznik.rodneCislo}"></p>
<p th:text="'Adresa: '+${zakaznik.getAdresa()}"></p>
<a th:href="@{'/'}">Návrat na zoznam používateľov</a><br>
</body>
</html>