<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>zakaznici</title>

    <link rel="stylesheet" th:href="@{/style.css}">

</head>

<body>
<h1>Zoznam vozidiel</h1>

<table>
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Id</th>
        <th class="mdl-data-table__cell--non-numeric">Značka</th>
        <th class="mdl-data-table__cell--non-numeric">Model</th>
        <th class="mdl-data-table__cell--non-numeric">Detaily</th>
        <th class="mdl-data-table__cell--non-numeric">Úpravy</th>
        <th class="mdl-data-table__cell--non-numeric">Zmazanie</th>
        <th class="mdl-data-table__cell--non-numeric">Servis</th>
        <th class="mdl-data-table__cell--non-numeric">Servisná knižka</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="vozidlo: ${vozidla}">
        <!--/*@thymesVar id="idenetifikator" type="aj"*/-->
        <!--/*@thymesVar id="idVozidla" type="java"*/-->
        <td th:text="${vozidlo.idVozidla}"></td>
        <td th:text="${vozidlo.znackaVozidla}"></td>
        <td th:text="${vozidlo.typVozidla}"></td>
        <td><a th:href="@{'/zoznamVozidiel/detailVozidla/' + ${vozidlo.idVozidla}}">Zobraziť Detaily</a></td>
        <td><a th:href="@{'/zoznamVozidiel/zmenaUdajovVozidla/' + ${vozidlo.idVozidla}}">Zmeniť Údaje</a></td>
        <td><a th:href="@{'/zoznamVozidiel/odstranenieVozidla/' + ${vozidlo.idVozidla}}">Odstrániť vozidlo</a></td>
        <td><a th:href="@{'/novyServisnyZaznam/vozidlo/' + ${vozidlo.idVozidla}}">Nový záznam</a></td>
        <td><a th:href="@{'/servisnaKnizka/vozidlo/' + ${vozidlo.idVozidla}}">Zobraziť servisnú knižku</a></td>
    </tbody>
</table>
<a th:href="@{'/'}">Nový zákazník</a><br>
<a th:href="@{'/noveVozidlo'}">Registrácia vozidla</a><br>
</body>
</html>