<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>zakaznici</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<style>
    body{
        background-color: #2b2b2b;
        color: snow;
    }
    a{
        text-decoration: none;
        color: #8bc152;
    }
    h1{
        color: #a2b429;
    }
    th{
        color: #b5772f;
        border: 1px solid snow;
        min-width: 25px;
    }
    td{
        border: 1px solid snow;
        padding: 2px;
        min-width: 25px;
    }
</style>
<body>
<h1>Zoznam vozidiel</h1>

<table>
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Id</th>
        <th class="mdl-data-table__cell--non-numeric">Značka</th>
        <th class="mdl-data-table__cell--non-numeric">Model</th>
        <th class="mdl-data-table__cell--non-numeric">Detaily</th>
        <th class="mdl-data-table__cell--non-numeric">Úpravy</th>
        <th class="mdl-data-table__cell--non-numeric">Zmazanie</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vozidlo: ${vozidla}">
        <!--/*@thymesVar id="idenetifikator" type="aj"*/-->
        <!--/*@thymesVar id="idVozidla" type="java"*/-->
        <td th:text="${vozidlo.idVozidla}"></td>
        <td th:text="${vozidlo.znackaVozidla}"></td>
        <td th:text="${vozidlo.typVozidla}"></td>
        <td><a th:href="@{'/zoznamVozidiel/detailVozidla/' + ${vozidlo.idVozidla}}">Zobraziť Detaily</a></td>
        <td><a th:href="@{'/zoznamVozidiel/zmenaUdajovVozidla/' + ${vozidlo.idVozidla}}">Zmeniť Údaje</a></td>
        <td><a th:href="@{'/zoznamVozidiel/odstranenieVozidla/' + ${vozidlo.idVozidla}}">Zmeniť Údaje</a></td>
    </tbody>
</table>
<a th:href="@{'/'}">Zoznam zákazníkov</a><br>
<a th:href="@{'/noveVozidlo'}">Registrácia vozidla</a><br>
</body>
</html>